<!-- 기존 관리자 정보 확인 및 수정, 삭제 페이지 -->

<meta>
<style></style>

<!-- 우측 콘텐츠 헤더영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>관리자 계정 정보 관리</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/main">Home </a>>
            </li>
            <li>
                <a href="/admin/list">관리자 계정 정보 관리 </a>>
            </li>
            <li class="active">
                <strong>기존 관리자 수정</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<!-- 우측 콘텐츠 영역 -->
<div class="wrapper wrapper-content">
    <form id="modifyForm" action="/admin/modify" method="post">

        <!-- html hidden 태그에 게시글 고유번호를 저장하고 name 속성을 지정하여 
        post 방식으로 전달 시, 게시글 고유번호도 전달 처리 -->
        <input type="hidden" id="admin_member_id" name="admin_member_id" value="<%=admin.admin_member_id%>">

        <div class="ibox-content m-b-sm border-bottom">
            
            <!-- 관리자 계정, 암호, 소속회사 UI 제공 -->
            <div class="row">
                <!-- 아이디 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">관리자 ID</label>
                        <input type="text" id="admin_id" name="admin_id" readonly value="<%=admin.admin_id%>" class="form-control">
                    </div>
                </div>
                <!-- 비밀번호 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">관리자 비밀번호</label>
                        <input type="password" id="admin_password" name="admin_password" class="form-control">
                    </div>
                </div>
                <!-- 소속회사 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="company_code">소속회사</label>
                        <select class="form-control" id="company_code" name="company_code">
                            <option value="9" <% if(admin.company_code == "9"){ %> selected <% } %> >전체</option>
                            <option value="0" <% if(admin.company_code == "0"){ %> selected <% } %> >자회사</option>
                            <option value="1" <% if(admin.company_code == "1"){ %> selected <% } %> >협력사</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <!-- 부서명, 이름, 메일주소 UI 제공 -->
            <div class="row">
                <!-- 부서명 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="dept_name">부서명</label>
                        <input type="text" id="dept_name" name="dept_name" value="<%=admin.dept_name%>" class="form-control">
                    </div>
                </div>
                <!-- 이름 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="admin_name">이름</label>
                        <input type="text" id="admin_name" name="admin_name" value="<%=admin.admin_name%>" class="form-control">
                    </div>
                </div>
                <!-- 메일주소 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="email">메일 주소</label>
                        <input type="text" id="email" name="email" value="<%=admin.email%>" class="form-control">
                    </div>
                </div>
            </div>
            
            <!-- 전화번호, 사용여부 UI 제공 -->
            <div class="row">
                <!-- 전화번호 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="telephone">전화번호</label>
                        <input type="text" id="telephone" name="telephone" value="<%=admin.telephone%>" class="form-control">
                    </div>
                </div>
                <!-- 사용여부 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="used_yn_code">사용 여부</label>
                        <select class="form-control" id="used_yn_code" name="used_yn_code">
                            <option value="9" <% if(admin.used_yn_code == "9"){ %> selected <% } %> >선택</option>
                            <option value="1" <% if(admin.used_yn_code == "1"){ %> selected <% } %> >사용함</option>
                            <option value="0" <% if(admin.used_yn_code == "0"){ %> selected <% } %> >사용 안 함</option>
                        </select>
                    </div>
                </div>
            
                <div class="col-sm-4">
                </div>
            </div>


            <!-- 저장, 취소 버튼 영역 -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">수정</button>
                <button type="button" class="btn btn-danger" id="btnDelete">삭제</button>
                <a href="/admin/list" class="btn btn-info">목록</a>
            </div>
        </div>
    </form>
</div>

<script>
    $("#btnDelete").click(function(){
        if(confirm("정말로 삭제하시겠습니까?")){
            location.href = "/admin/delete?id=<%=admin.admin_member_id%>";
        }
    });
</script>