<!-- 2024.07.25 -->
<!-- views/article/list.ejs 와 public/list.html은 동일한 기능을 수행하는 파일
- views/article/list.ejs는 서버에서 렌더링되어 클라이언트에게 전달되는 파일 
  (동적인 파일로 서버에서 데이터를 받아서 화면을 구성함. -> MVC 패턴)
- public/list.html은 클라이언트에게 직접 전달되는 파일 
  (정적인 파일로 웹브라우저에서 바로 실행됨.) 
  
- 웹 소켓을 사용하면 실시간으로 데이터를 주고 받을 수 있어,
  화면이 변경되는 경우 서버에서 데이터를 받아서 화면을 갱신할 수 있음. -->

<!-- id 속성과 name 속성
- id : HTML 요소의 고유한 식별자를 지정하는 속성
- name : 서버로 전송되는 데이터의 이름을 지정하는 속성 -->


<!-- 2024.07.26 -->
<!-- 시스템을 프론트엔드, 백엔드를 나눠서 개발하는 것이 좋지만,
나눠서 개발하지 않고 백엔드 개발자가 프론트엔드 개발도 함께 하는 경우도 있음. 
(Full Stack 개발자) -->

<!-- EJS 문법을 사용하여 서버에서 전달받은 데이터를 화면에 출력함.
EJS 문법의 include 방식으로 ejs 파일을 분리하여 재사용할 수 있음. 

* include 방식과 layout 방식의 차이점
- include 방식은 각각의 파일이 독립적으로 존재하고, 서로 연결되어 사용됨.
- layout 방식은 하나의 파일에 모든 내용이 포함되어 있고, 필요한 부분만 변경해서 사용함. -->

<!-- 시맨틱 태그(Semantic Tag)는 태그 내용에 의미를 부여하는 태그인데, 
시맨틱 태그를 사용하면 개발자가 웹페이지의 구조를 이해하기 쉽고, 검색엔진이 웹페이지를 분석하기 쉬워짐.(색인) -->

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>게시글 목록 관리</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!--추가 스타일-->

</head>

<body>

    <div id="wrapper">

        <!--좌측 메뉴 영역-->
        <% include ../common/left-menu.ejs %>

            <!--우측 영역-->
            <div id="page-wrapper" class="gray-bg">

                <!--우측 상단 영역 -->
                <% include ../common/header.ejs %>

                    <!--우측 상단 헤더 영역 -->
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div class="col-lg-10">
                            <h2>게시글 정보 관리</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/Home/Index">Home </a>>
                                </li>
                                <li>
                                    <a>게시글 정보 관리 </a>>
                                </li>
                                <li class="active">
                                    <strong>게시글 목록 조회</strong>
                                </li>
                            </ol>
                        </div>
                        <div class="col-lg-2">

                        </div>
                    </div>

                    <!--우측 콘텐츠 영역 -->
                    <div class="wrapper wrapper-content">

                        <div class="ibox-content m-b-sm border-bottom">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label" for="OrderNo">글 제목</label>
                                        <input type="text" id="title" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label" for="OrderName">IP주소</label>
                                        <input type="text" id="ipaddress" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label" for="MobileNo">게시 여부</label>
                                        <select id="display" name="name" class="form-control">
                                            <option value=9 selected>전체</option>
                                            <option value=1>게시함</option>
                                            <option value=2>게시안함</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" id="btnSearch" class="btn btn-primary">조회</button>
                                <a href="/article/create" class="btn btn-info">신규 게시글</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <div class="table-responsive">

                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th width="10%">게시글 번호</th>
                                                        <th width="50%">제목</th>
                                                        <th width="5%">IP주소</th>
                                                        <th width="5%">조회수</th>
                                                        <th width="10%">게시 여부</th>
                                                        <th width="10%">등록자 번호</th>
                                                        <th width="10%">등록 일시</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="hoverTblBody" id="list">

                                                    <% for(var i=0; i<articles.length; i++){ %>
                                                        <tr>
                                                            <td>
                                                                <%=articles[i].article_id%>
                                                            </td>
                                                            <td><a href="/article/modify/<%=articles[i].article_id%>">
                                                                    <%=articles[i].title%>
                                                                </a></td>
                                                            <td>
                                                                <%=articles[i].ip_address%>
                                                            </td>
                                                            <td>
                                                                <%=articles[i].view_cnt%>
                                                            </td>
                                                            <td>
                                                                <%=articles[i].display%>
                                                            </td>
                                                            <td>
                                                                <%=articles[i].regist_id%>
                                                            </td>
                                                            <td>
                                                                <%=articles[i].regist_date%>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                    <!--우측 하단 풋터 영역-->
                    <% include ../common/footer.ejs %>

            </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>


    <!--추가 스크립트-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        //클라이언트 웹브라우저에서 작동하는 자바스크립트 코딩 영역 (프론트엔드 영역)
    </script>

</body>

</html>