<!-- 채팅방 정보 조회, 목록 페이지 -->

<meta>
<style></style>

<!-- 우측 콘텐츠 헤더영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>채팅 메세지 정보 관리</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/main">Home </a>>
            </li>
            <li>
                <a href="message/list">채팅 메세지 정보 관리 </a>>
            </li>
            <li class="active">
                <strong>채팅 메세지 목록 조회</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<!-- 우측 콘텐츠 영역 -->
<div class="wrapper wrapper-content">

    <!-- 조회 옵션 영역 -->
    <form action="/message/list" method="post">
        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <!-- 채팅 닉네임 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="nick_name">채팅 닉네임</label>
                        <input type="text" id="nick_name" name="nick_name" value="<%=searchOption.nick_name%>" class="form-control">
                    </div>
                </div>
                <!-- 채널 내용 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="message">채팅 메세지</label>
                        <input type="text" id="message" name="message" value="<%=searchOption.message%>" class="form-control">
                    </div>
                </div>
                <!-- 게시 여부 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="msg_type_code">메세지 유형 코드</label>
                        <select id="msg_type_code" name="msg_type_code" class="form-control">
                            <option value="9" <% if(searchOption.msg_type_code == "9"){ %> selected <% } %> >전체</option>
                            <option value="0" <% if(searchOption.msg_type_code == "0"){ %> selected <% } %> >퇴장 메세지</option>
                            <option value="1" <% if(searchOption.msg_type_code == "1"){ %> selected <% } %> >입장 메세지</option>
                            <option value="2" <% if(searchOption.msg_type_code == "2"){ %> selected <% } %> >일반 메세지</option>
                            <option value="3" <% if(searchOption.msg_type_code == "3"){ %> selected <% } %> >파일 공유 메세지</option>
                            <option value="4" <% if(searchOption.msg_type_code == "4"){ %> selected <% } %> >시스템 공지 메시지</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" id="btnSearch" class="btn btn-primary">조회</button>
            </div>
        </div>
    </form>

    <!-- 조회 결과 목록 영역 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="10%">닉네임</th>
                                    <th width="30%">메세지</th>
                                    <th width="10%">채널 번호</th>
                                    <th width="10%">회원 번호</th>
                                    <th width="10%">유형 코드</th>
                                    <th width="10%">상태 코드</th>
                                    <th width="20%">작성 일시</th>
                                </tr>
                            </thead>
                            <tbody class="hoverTblBody" id="list">
                                <tr>
                                    <tr>
                                    <% for(var i=0; i<messages.length; i++){ %>
                                        <tr>
                                            <td><%=messages[i].nick_name%></td>
                                            <td><%=messages[i].message%></td>
                                            <td><%=messages[i].channel_id%></td>
                                            <td><%=messages[i].member_id%></td>
                                            <td>
                                                <% if(messages[i].msg_type_code == 0) { %> 
                                                    퇴장 
                                                <% } else if(messages[i].msg_type_code == 1) { %>
                                                    입장
                                                <% } else if(messages[i].msg_type_code == 2) { %>
                                                    일반 사용자
                                                <% } else if(messages[i].msg_type_code == 3) { %>
                                                    파일 공유
                                                <% } else { %>
                                                    시스템 공지
                                                <% } %>
                                            </td>
                                            <td>
                                                <% if(messages[i].msg_state_code == 1) { %>
                                                    사용 
                                                <% } else { %>
                                                    삭제
                                                <% } %>
                                            </td>
                                            <td><%=moment(messages[i].msg_date).format('YYYY-MM-DD HH:mm')%></td>
                                        </tr>
                                    <% } %>
                                </tr>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<script></script>